<nz-page-header (nzBack)="onBack()" nzBackIcon nzTitle="Согласно расчета времени старшего начальника"> </nz-page-header>
<nz-table *ngIf="managerTiming" #basicTable  nzSize="small" [nzFrontPagination]="false"
[nzShowPagination]="false" [nzData]="managerTiming">
  <thead>
    <tr>
      <th>№ п.п.</th>
      <th>Наименование мероприятия</th>
      <th>Результаты расчета</th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let data of basicTable.data; let i = index">
     <td>{{i + 1}}</td>
     <td>{{data.name}}</td>
     <td><input nz-input placeholder="Введите значение" [(ngModel)]="data.value"/></td>
   </tr>
  </tbody>
</nz-table>
